* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E9ECEF;
  font-family: "Segoe UI";
  color: black;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 62px;
}

.login-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  width: 1200px;
  height: 600px;
  border-radius: 10px;
}

.image-box {
  width: 600px;
  height: 600px;
}

img {
  width: 600px;
  height: 600px;
  border-radius: 10px 0 0 10px;
}

.login-form {
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 35px;
}

.form-box {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  margin-top: 80px;
  margin-right: 62px;
}

.email-input label,
.password-input label {
  display: block;
}

.input-box {
  width: 350px;
  height: 40px;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}

.input-box:focus {
  border: none;
  box-shadow: 0 0 0 1px #515475;
  outline: none;
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgot-password {
  text-decoration: none;
  font-size: 13px;
  color: black;
  margin-top: -1px;
}

.remember-me label {
  font-size: 13px;
  padding-bottom: 2px;
  margin-top: -1px;
}

.remember-me label {
  padding-top: 2px;
}

.checkbox-custom {
  width: 14px;
  height: 14px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
}

.checkbox-custom:hover {
  border-color: #515475;
}

.checkbox-custom:checked {
  background-color: #515475;
}

.login-button {
  margin-top: 28px;
  width: 350px;
  height: 45px;
  border: none;
  background-color: #515475;
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
}

.login-button:hover {
  background-color: #D0E7EF;
  color: black;
  cursor: pointer;
}

.login-button:focus {
  background-color: #accdd8;
  color: black;
}

.register-link {
  font-size: small;
  margin-top: 5px;
  margin-right: 58px;
}

a {
  text-decoration: none;
  color: #515475;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
